<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    FML this path is from the static folder and not the file you are currently on -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Albums and Stuff</title>
</head>
<body>

<h1> Welcome to Albums and Stuff</h1>
<a href="/album">To All Albums </a>
<a href="/songs"> To All Songs</a>



</body>
</html>